<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css"/>
    <script src="https://cdn.jsdelivr.net/npm/vue@next" defer></script>
    <script src="app.js" defer></script>
</head>
<!-- <body>
    <header>
        <h1>Vue Course Goals</h1>
    </header>
    <section id="user-goal">
        <h2>My Cource Goal</h2>
        <p>{{ courseGoal }}</p> 
        <p v-html="outputGoal()"></p>
        <p>{{ outputGoal() }}</p>
        <p>Learn more <a v-bind:href="vueLink">about Vue</a></p>
    </section> 
    <section id="user-goal">
        <h2>Events in Action</h2>
         <button v-on:click="counter++">Add</button>
        <button v-on:click="counter--">Reduce</button> 
        <button @click="add(5)">Add 5</button>
        <button v-on:click="reduce(5)">Reduce 5</button>
        <p>Result: {{ counter }}</p>
        <input type="text" v-bind:value="name" v-on:input="setName($event,'Patel')" v-on:keyup.enter="confirmName1">
        <input type="text" v-model="name">
        <input type="text" v-model="lastname">
        <button v-on:click="resetName">Reset Input</button>
        <p>Name: {{ fullname }}</p>
        <form v-on:submit.prevent="submitForm">
            <input type="text">
            <button>Sign Up</button>
        </form>
    </section>
</body> -->
<body>
    <header>
        <h1>Vue Dynamic styling rajjjjjjjjjjjjjjjyo!!!</h1>
    </header>
        <section id="styling">
            <div class="demo" :style="{borderColor: boxASelected ? 'red' : '#ccc'}" @click="boxSelected('A')"></div>
            <div class="demo" @click="boxSelected('B')"></div>
            <div class="demo" @click="boxSelected('C')"></div>
        </section>
    
</body>
</html>